.page2{
    display: none;
}
.page3{
    display: none;
}
.page4{
    display: none;
}
.page5{
    display: none;
}
.page6{
    display: none;
}

.nav{
    border-style: none;
    text-decoration: none;
    color: none;
}
